<a href="https://colab.research.google.com/github/RobertoMel36/edd_1310_2021/blob/master/06-10-20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#String conttinuación

numeros_txt = "1, 2, 3, 4   , 5  , 35  , 15 , 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j] = int(numeros_txt[j].strip())

print(numeros_txt)

#funcion range()
#range(inicio, top , incremento)
print(range(1,10,3))
rango = range(1,10, 2)

for x in rango:
  print(x)
  
  rango= range(10)
  
for x in rango:
  print(x)

1, 2, 3, 4   , 5  , 35  , 15 , 12
['1', ' 2', ' 3', ' 4   ', ' 5  ', ' 35  ', ' 15 ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#Listas
-mutables
-declaran con[]
-selector[int]
-Pueden ser de cualquier tipo y mezclado

#Tuplas
-No mutables
-Declaración con()
-selectos[int]

#Diccionarios
-Son mutables
-son conjunto de pares llave:valor
-Equivalente a los Objetos JSon de JavaScritp

#Conjuntos
-representación de la teoría de conjuntos

In [20]:
#Listas
frutas = ["Pera", "Manzana", "fresa", "Kiwi", "Naranja"]
print(frutas)
cosas= ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
frutas[2]="Fresa"  #frutas[2]= frutas[2].capitalize()
print(frutas)
#Agregar a la lista
frutas.append("Agauacate")
print(frutas)
frutas.insert(2, "Sandia") #Dar la psocicion que se desea
print(frutas)

#Concatenar listas
fecha= ["06", "10", "2020"] 
print (fecha)
fecha_str = "/".join(fecha) #Establece la fecha con lo que tu asignes
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Agauacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Agauacate']
['06', '10', '2020']
06=10=2020

In [30]:
#Eliminar elementos
cosas= ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)


#Vaciar una lista
#cosas.clear()
print(cosas)

#Ordenar
print(frutas)
frutas.sort()
print(frutas)

['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
['Cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Agauacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']
['Agauacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [44]:
#Slicing
cosas= ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:6:1])

numeros= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13])

#Sustituir rebanadas

numeros[8:13] =[-2,-2] #Metes los datos donde sustituiras y pones lo que vas a sustituir
print(numeros)

#Preguntar por existencia
print(-2 in numeros) #Saber si existe algo en la lista

[True, False]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
der
[9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
True

#Listas multi dimensión

Listas dentro de listas

In [58]:
computadoras= ["HP", "Mac book pro", "Mate book", "Lenovo legion"]
oss= ["Windows 10", "Linux", "Android", "ios"]

computo= [computadoras, oss] #Mencionar dos o mas listas
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])


dbms= [["Mysql", "Open Source", False] ,["MS SQL Server", "De paga", True] ] 
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac book pro', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'ios']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac book pro', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'ios'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'De paga', True]]]
Mysql
De paga